@value makerLightGrey,makerGreen from "../../common/colors.css";

.editor {
  padding: 0 1em;
  flex-basis: 50%;
  text-align: center;
  border-right: 2px solid makerLightGrey;
}

.list {
  padding: 0;
}

.title {
  font-size: 1.5rem;
  color: makerGreen;
}
