@value makerGrey,makerGreen from "../../common/colors.css";
@value mediaQuery from '../../common/size.css';

.preview {
  overflow-y: auto;
  flex-basis: 50%;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: makerGreen;
  margin-bottom: 1em;
}

.list {
  width: 100%;
  padding: 0.5 2em;
}

@media screen and (max-width: mediaQuery) {
  .preview {
    overflow: unset;
  }
}
