@value makerGreen, makerGrey, makerWhite, makerBlack from "../../common/colors.css";

.header {
  position: relative;
  background-color: makerGreen;
  text-align: center;
  width: 100%;
}

.logo {
  width: 3rem;
  margin-top: 1em;
}

.title {
  margin: 0.5em 0;
  font-size: 1.5rem;
  color: makerWhite;
}

.btn {
  position: absolute;
  top: 1em;
  right: 3em;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: makerGrey;
  color: makerWhite;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  border: none;
}
